.map {
  height: 50vh;
  width: 100%;
}

.head-img {
  background-image: url("../media/wp7849306.jpg");
  background-repeat: repeat;
  background-size: 100% 100%;
}

.icon-link:hover {
  color:#0000EE
}

/* [1] The container */
.img-hover-zoom {
  
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.modal-header {
background-color: black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.close {
  color: white;
  opacity: 1
}

.close:hover{
  color: red;
  font-size: 35px;
  
}
